target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/out/production/java8_Action/com/nq/java8/AccumulatorRecursiveAction$AccumulatorHelper.class
/out/production/java8_Action/com/nq/java8/AccumulatorRecursiveAction.class
/out/production/java8_Action/com/nq/java8/AccumulatorRecursiveTask.class
/out/production/java8_Action/com/nq/java8/Apple.class
/out/production/java8_Action/com/nq/java8/Car.class
/out/production/java8_Action/com/nq/java8/CollectorIntroduce.class
/out/production/java8_Action/com/nq/java8/CollectorReduce.class
/out/production/java8_Action/com/nq/java8/CollectorsAction.class
/out/production/java8_Action/com/nq/java8/CollectorsAction2.class
/out/production/java8_Action/com/nq/java8/CollectorsAction3.class
/out/production/java8_Action/com/nq/java8/CollectorsAction4.class
/out/production/java8_Action/com/nq/java8/CompletableFutureInAction.class
/out/production/java8_Action/com/nq/java8/CompletableFutureInAction1.class
/out/production/java8_Action/com/nq/java8/CompletableFutureInAction2.class
/out/production/java8_Action/com/nq/java8/CompletableFutureInAction3.class
/out/production/java8_Action/com/nq/java8/CompletableFutureInAction4.class
/out/production/java8_Action/com/nq/java8/CompletableFutureInAction5.class
/out/production/java8_Action/com/nq/java8/ComplexApple.class
/out/production/java8_Action/com/nq/java8/CreateStream$Obj.class
/out/production/java8_Action/com/nq/java8/CreateStream$ObjSupplier.class
/out/production/java8_Action/com/nq/java8/CreateStream.class
/out/production/java8_Action/com/nq/java8/CustomerCollectorAction.class
/out/production/java8_Action/com/nq/java8/DateTest.class
/out/production/java8_Action/com/nq/java8/DefaultInAction$1.class
/out/production/java8_Action/com/nq/java8/DefaultInAction$A.class
/out/production/java8_Action/com/nq/java8/DefaultInAction$B.class
/out/production/java8_Action/com/nq/java8/DefaultInAction$C.class
/out/production/java8_Action/com/nq/java8/DefaultInAction.class
/out/production/java8_Action/com/nq/java8/Dish$Type.class
/out/production/java8_Action/com/nq/java8/Dish.class
/out/production/java8_Action/com/nq/java8/FilterApple$1.class
/out/production/java8_Action/com/nq/java8/FilterApple$AppleFilter.class
/out/production/java8_Action/com/nq/java8/FilterApple$GreenAnd160WeightFilter.class
/out/production/java8_Action/com/nq/java8/FilterApple$YellowLess150WeightFilter.class
/out/production/java8_Action/com/nq/java8/FilterApple.class
/out/production/java8_Action/com/nq/java8/ForkJoinPoolTest.class
/out/production/java8_Action/com/nq/java8/FutureInAction$1.class
/out/production/java8_Action/com/nq/java8/FutureInAction$Callable.class
/out/production/java8_Action/com/nq/java8/FutureInAction$Future.class
/out/production/java8_Action/com/nq/java8/FutureInAction.class
/out/production/java8_Action/com/nq/java8/FutureInAction2.class
/out/production/java8_Action/com/nq/java8/FutureInAction3$1.class
/out/production/java8_Action/com/nq/java8/FutureInAction3$2.class
/out/production/java8_Action/com/nq/java8/FutureInAction3$Callable.class
/out/production/java8_Action/com/nq/java8/FutureInAction3$Completable.class
/out/production/java8_Action/com/nq/java8/FutureInAction3$Future.class
/out/production/java8_Action/com/nq/java8/FutureInAction3.class
/out/production/java8_Action/com/nq/java8/Insurance.class
/out/production/java8_Action/META-INF/java8_Action.kotlin_module
/out/production/java8_Action/com/nq/java8/LambdaExpression$1.class
/out/production/java8_Action/com/nq/java8/LambdaExpression.class
/out/production/java8_Action/com/nq/java8/LambdaUsage$Test.class
/out/production/java8_Action/com/nq/java8/LambdaUsage.class
/out/production/java8_Action/com/nq/Main.class
/out/production/java8_Action/com/nq/java8/MethodReference.class
/out/production/java8_Action/com/nq/java8/NullPointerException.class
/out/production/java8_Action/com/nq/java8/NumericStream.class
/out/production/java8_Action/com/nq/java8/OptionalInAction.class
/out/production/java8_Action/com/nq/java8/OptionalUsage.class
/out/production/java8_Action/com/nq/java8/ParallelProcessing.class
/out/production/java8_Action/com/nq/java8/Person.class
/out/production/java8_Action/com/nq/java8/SimpleStream.class
/out/production/java8_Action/com/nq/java8/SpliteratorInAction$MySpliteratorText$MySpliterator.class
/out/production/java8_Action/com/nq/java8/SpliteratorInAction$MySpliteratorText.class
/out/production/java8_Action/com/nq/java8/SpliteratorInAction.class
/out/production/java8_Action/com/nq/java8/StreamFilter.class
/out/production/java8_Action/com/nq/java8/StreamFind.class
/out/production/java8_Action/com/nq/java8/StreamInAction.class
/out/production/java8_Action/com/nq/java8/StreamMap.class
/out/production/java8_Action/com/nq/java8/StreamMatch.class
/out/production/java8_Action/com/nq/java8/StreamReduce.class
/out/production/java8_Action/com/nq/java8/ThreeFunction.class
/out/production/java8_Action/com/nq/java8/ToListCollector.class
/out/production/java8_Action/com/nq/java8/Trader.class
/out/production/java8_Action/com/nq/java8/Transaction.class
